
body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

.lado-esquerdo {
    width: 40%;
    background-image: url("imagens/pug.png");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position:top left;
}

.fala-pug {
    position: absolute;
    top: 140px;
    left: 270px;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.lado-direito {
    width: 60%;
    display: flex;
    justify-content:center; 
    align-items: center; 
    background-color: white;
}

.conteudo-centralizado {
    width: 100%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.texto-grande {
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.botao, .botao-destaque {
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.botao {
    width: 300px;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    transition: 1.5s ease;
    cursor: pointer;
}

.icone-apple{
    width: 20px;
    height: 20px;
}

.botao:hover {
    background-color: black;
    color: aliceblue;
}

.botao:hover img {
    filter: brightness(0) invert(1);
}

.botao-destaque {
    font-size: 18px;
    border: none;
    background-color: #000;
    color: white;
    margin-top: 10px;
    transition: 1.5s ease;
    cursor: pointer;
}

.botao-destaque:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid black;
}

.icone {
    width: 20px;
    height: 20px;
}

.texto-ajuda {
    font-size: 0.9rem;
    color: #070707;
    text-decoration: none;
}